 <footer class="footer">

     <div class="footer-wrapper">
        <div class="footer__title-section">
         <h2 class="footer__title">Keep in touch with us</h2>
         <p class="footer__subtitle">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
         </p>
       </div>
       
       <form id="email" class="footer__submit-form">
         <input type="email" class="submit-form__field" placeholder="Enter your email...">
         <input type="submit" class="submit-form__btn" value="submit">
       </form>
     </div>

      <div class="footer__social">
        <a href="#" class="footer__social-icon">
          <svg class="icon icon-facebook2"><use xlink:href="#icon-facebook2"/></svg>
        </a>
        <a href="#" class="icon footer__social-icon">
          <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"/></svg>
        </a>
        <a href="#" class="icon footer__social-icon">
          <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"/></svg>
        </a>
        <a href="#" class="icon footer__social-icon">
          <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"/></svg>
        </a> 
      </div>

      <div class="footer__info">

        <div class="info__adress">
          HALOVIETNAM LTD
          66, Dang Van ngu, Dong Da
          Hanoi, Vietnam 
          contact@halovietnam.com
          <a href="tel:+84435149182" class="phone-number">+844 35149182</a>
        </div>

        <div class="info__menu-wrapper">
          <ul class="info__menu">
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Examples</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Shop</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">License</a></li>
          </ul>
          <ul class="info__menu">
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Contact</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">About</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Privacy</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Terms</a></li>
          </ul>
          <ul class="info__menu">
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Download</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Support</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Documents</a></li>
          </ul>
          <ul class="info__menu">
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Media</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Blog</a></li>
            <li class="info__menu-item"><a href="#" class="info__menu-item-link">Forums</a></li>
          </ul>
        </div>

      </div>

    </footer>