     <header class="header">

      <div class="header__wrapper">
        <div class="header__top-cont">
          <h1 class="header__logo">
            <div class="header__logo-img"></div>
            <span class="header__logo-title">tinyone</span>
          </h1>
          <ul class="header__nav-menu">
            <li class="nav-menu__item">
              <a href="#" class="nav-menu__item-link">
                <strong>Features</strong>             
              </a>
            </li>

            <li class="nav-menu__item">
              <a href="#" class="nav-menu__item-link">
               Support
              </a>
            </li>

            <li class="nav-menu__item">
              <a href="#" class="nav-menu__item-link">
                Blog
              </a>
            </li>
          </ul>
        </div>

        <div class="header__main-cont">
          <div class="header__img">
            <div class="header__img-screen">
              <div class="header__logo">
                <div class="header__logo-img"></div>
                <span class="header__logo-title">tinyone</span>
              </div>
            </div>

            <div class="header__img-button">
            </div>
          </div>
          
          <div class="header__text-block">
            <h2 class="header__title" >
              Inspire your inspiration
            </h2>
            <p class="header__subtitle">
              Simple to use for your app, products showcase and your inspiration
            </p>
            <p class="header__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit 
            </p>
             <div class="header__icon-block">
              <svg class="icon icon-apple" tabindex="0"><use xlink:href="#icon-appleinc"/></svg>
              <svg class="icon icon-android" tabindex="0"><use xlink:href="#icon-android"/></svg>
              <svg class="icon icon-windows" tabindex="0"><use xlink:href="#icon-windows8"/></svg>
            </div>
          </div>
        </div>
        
        <div class="header__slider">
          <button class="header__slider-btn" role="button"></button>
          <button class="header__slider-btn" role="button"></button>
          <button class="header__slider-btn" role="button"></button>
        </div>
      </div>

    </header>